@import '../../../scss/styles.scss';


.NavListOpen{
  @include width-height(100%, 47vh);
  top: 12%;
  z-index: 1;
  border-top: 1px solid $White;
  overflow-y: auto;
  visibility: visible;
  position: absolute;
  background-color: $Black;
  right: 0;
  transition: all 0.75s ease-in-out;
  //--------------------Desktop----------------------------->
  @include for-desktop-only {
    @include display-flexDirection(flex, row);
    @include width-height(100%, 0);
    position: absolute;
    visibility: visible;
  }

  &__Ul{
    @include display-flexDirection(flex, column);
    //--------------------Desktop----------------------------->
    @include for-desktop-only{
      @include display-flexDirection(flex, row);
      @include alignItems-justifyContent(center, space-around);
      @include width-height(100%, 0);
    }
  }
}

.NavListClose{
  @include width-height(100%, 0%);
  top: 12%;
  z-index: 1;
  border-top: 1px solid $White;
  overflow-y: auto;
  visibility: hidden;
  position: absolute;
  background-color: $Black;
  right: 0;
  transition: all 0.35s ease-in-out;
  //--------------------Desktop----------------------------->
  @include for-desktop-only {
    @include width-height(65%, 0);
    @include display-flexDirection(flex, row);
    @include alignItems-justifyContent(center, flex-end);
    position: fixed;
    top: 0;
    border-top: none;
    visibility: visible;
    padding: 2.5rem 5%;
    overflow: hidden;
    background: transparent;
  }

  .NavListOpen__Ul{
    @include display-flexDirection(flex, column);
    
    //--------------------Desktop----------------------------->
    @include for-desktop-only{ 
      @include display-flexDirection(flex, row);
      @include alignItems-justifyContent(center, space-around);
      @include width-height(100%, 5vh);
    } 
  }
}