@import '../../variables/variables.scss' , '../../mixins/mixins.scss';

.content{
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: $m5;
  line-height: 1.5rem;
  text-align: start;
  //--------------------Desktop----------------------------->
  @include for-desktop-only {
    width: 75%;
  }
}