@import '../../scss/styles.scss';

.header{
  @include display-flexDirection(flex, column);
  @include alignItems-justifyContent(center, center);
  background: $Purple;
  //--------------------Desktop----------------------------->
  @include for-desktop-only {
    @include display-flexDirection(flex, column);
    @include alignItems-justifyContent(center, center);
    
  }

  
  .menu{
    @include display-flexDirection(flex, row);
    @include alignItems-justifyContent(center, space-between);
    width: 100%;
    height: 4rem;
    background-color: $Black;
    padding: $pl5;
    //--------------------Desktop----------------------------->
    @include for-desktop-only {
      @include display-flexDirection(flex, row);
      @include alignItems-justifyContent(center, center);
      width: 100%;
      height: 5rem;
      padding: 0;  
    }
  
    &__logo{
      text-decoration: none;
      color: $White;
      font-size: 1.5rem;
      font-weight: 700;
      transition: all 0.35s linear;
      &:hover {
        color: $Purple;
      }
      //--------------------Desktop----------------------------->
      @include for-desktop-only {
        display: none;
      }
    }
  }
  
  &__paddingBox {
    @extend .paddingBox;
    @include display-flexDirection(flex, row);
    @include alignItems-justifyContent(flex-start, space-between);
    width: 100%;
    //--------------------Desktop----------------------------->
    @include for-desktop-only{
      @include display-flexDirection(flex, row-reverse);
      @include alignItems-justifyContent(center, center);
    }
  }

  &__stacksBox{
    width: 20%;
    @include display-flexDirection(flex, column);
    //--------------------Desktop----------------------------->
    @include for-desktop-only{
      @include display-flexDirection(flex, row);
      @include alignItems-justifyContent(center, center);
      width: 60%;
      flex-wrap: wrap;
    }
    
  }
  &__TitleBox{
    @include display-flexDirection(flex, column);
    @include alignItems-justifyContent(center, flex-start);
    width: 80%;
    //--------------------Desktop----------------------------->
    @include for-desktop-only{
      @include display-flexDirection(flex, column);
      @include alignItems-justifyContent(center, flex-start);
      width: 40%;
    }
    &___title{
      font-size: 2.7rem;
      color: $White;
      font-weight: 700;
      opacity: 0.9;
      text-align: end;
      padding-bottom: 10%;
      
      //--------------------Desktop----------------------------->
      @include for-desktop-only {
        text-align: center;
        font-size: 3.5rem;
        padding-bottom: 5%;
        padding-top: 10%;

        
      }

      &:nth-child(2){
        font-size: .938rem;
        padding-bottom: 10%;
        color: $Black;
        align-self: flex-end;
        
        //--------------------Desktop----------------------------->
        @include for-desktop-only {
          text-align: center;
          font-size: 1.8rem;
          padding-bottom: 8%;
          margin-top: 0%;
          padding-top: 0%;
          align-self: center;
        }
      }
    }

    &___subtitle{
      font-size: 1.9rem;
      color: $White;
      font-weight: 600;
      opacity: 0.9;
      line-height: 2.2rem;
      text-align: end;
      padding-bottom: 10%;
      //--------------------Desktop----------------------------->
      @include for-desktop-only {
        text-align: center;
        font-size: 2.2rem;
        padding-bottom: 8%;
      }
      
      &:nth-of-type(2){
        font-size: 1rem;
        padding-bottom: 5%;
        color: $Black;
        align-self: flex-end;
        //--------------------Desktop----------------------------->
        @include for-desktop-only {
          text-align: center;
          font-size: 1.8rem;
          padding-bottom: 5.5%;
          align-self: center;
        }
      }
    }
  }
}


