@import 'src/scss/styles.scss';

.header{
  @include alignItems-justifyContent(center, center);
  @include display-flexDirection(flex, column);
  @include headerBackgroundImage;

  .menu{
    @include alignItems-justifyContent(center, space-between);
    @include display-flexDirection(flex, row);
    @include width-height(100%, 0);
    background-color: $Black;
    padding: $pl5;
    //--------------------Desktop----------------------------->
    @include for-desktop-only {
      @include display-flexDirection(flex, row);
      @include alignItems-justifyContent(center, space-between);
      @include width-height(100%, 10vh);
      padding: 0;
    }

    &__idiomButton{
      @extend .button;
      @include width-height(30%, 0);
      margin-left: 14%;
      margin-right: 14%;
      //--------------------Desktop----------------------------->
      @include for-desktop-only{
        @include width-height(15%, 0);
        margin-left: $m2;
        margin-right: 0%;
        margin-top: 5%;
        position: fixed;
      }
    }
  
    &__logo{
      @include fontSize-fontWeight(1.5rem, 700);
      color: $White;
      text-decoration: none;
      transition: all 0.35s linear;
      &:hover {
        color: $Purple;
      }
      //--------------------Desktop----------------------------->
      @include for-desktop-only {
        display: none;
      }
    }
  }
  
  &__stacksIconsfatherBox{
    @include alignItems-justifyContent(flex-start, space-between);
    @include display-flexDirection(flex, row);
    @include width-height(100%, 0);
    padding: $p5;
    //--------------------Desktop----------------------------->
    @include for-desktop-only{
      @include alignItems-justifyContent(center, center);
      @include display-flexDirection(flex, column-reverse);
      padding: $p10;
    }
  }

  &__stacksIconsBox{
    @include display-flexDirection(flex, column);
    @include width-height(20%, 0);
    //--------------------Desktop----------------------------->
    @include for-desktop-only{
      @include alignItems-justifyContent(center, center);
      @include display-flexDirection(flex, row);
      @include width-height(70%, 0);
      padding-top: $p5;
    }
    
  }
  &__TitleBox{
    @include alignItems-justifyContent(center, flex-start);
    @include display-flexDirection(flex, column);
    @include width-height(80%, 0);
    //--------------------Desktop----------------------------->
    @include for-desktop-only{
      @include alignItems-justifyContent(center, flex-start);
      @include display-flexDirection(flex, column);
      @include width-height(100%, 0);
    }
    &___firstTitle{
      @include fontSize-fontWeight(2.7rem, 700);
      color: $White;
      opacity: 0.9;
      padding-bottom: $p2;
      text-align: end;
      
      
      //--------------------Desktop----------------------------->
      @include for-desktop-only {
        @include fontSize-fontWeight(2.8rem, 0);
        text-align: center;
        
      }

      &:nth-child(2){
        @include fontSize-fontWeight(.938rem, 0);
        align-self: flex-end;
        color: $TitleBlack;
        padding-bottom: $p5;
        padding-top: $p5;
        //--------------------Desktop----------------------------->
        @include for-desktop-only {
          @include fontSize-fontWeight(1.1rem, 0);
          align-self: center;
          margin-top: 0%;
          padding-bottom: $p2;
          padding-top: 0%;
          text-align: center;
        }
      }
    }

    &___secondTitle{
      @include fontSize-fontWeight(1.9rem, 600);
      color: $White;
      line-height: 2.2rem;
      opacity: 0.9;
      padding-bottom: $p2;
      text-align: end;
      //--------------------Desktop----------------------------->
      @include for-desktop-only {
        @include fontSize-fontWeight(1.8rem, 600);
        padding-bottom: 1.5%;
        text-align: center;
      }
      
      &:nth-of-type(2){
        @include fontSize-fontWeight(1rem, 0);
        align-self: flex-end;
        color: black;
        padding-bottom: $p5;
        //--------------------Desktop----------------------------->
        @include for-desktop-only {
          @include fontSize-fontWeight(1.1rem, 0);
          align-self: center;
          padding-bottom: 1.5%;
          text-align: center;
        }
      }
    }
  }
}


