@import 'src/scss/styles.scss';

.header{
  @include display-flexDirection(flex, column);
  @include alignItems-justifyContent(center, center);
  @include headerBackgroundImage;
  
  .menu{
    @include display-flexDirection(flex, row);
    @include alignItems-justifyContent(center, space-between);
    width: 100%;
    background-color: $Black;
    padding: 5% 5%;
    //--------------------Desktop----------------------------->
    @include for-desktop-only {
      @include display-flexDirection(flex, row);
      @include alignItems-justifyContent(center, space-between);
      @include width-height(100%, 0vh);
      padding: 0;
      //background-color: red;
      //background: transparent;
    }

    &__idiomButton{
      @extend .button;
      width: 30%;
      margin-left: 14%;
      margin-right: 14%;
      //--------------------Desktop----------------------------->
      @include for-desktop-only{
        width: 15%;
        margin-left: 2.5%;
        margin-right: 0%;
        margin-top: 5%;
        position: fixed;
      }
    }
  
    &__logo{
      @include fontSize-fontWeight(1.5rem, 700);
      text-decoration: none;
      color: $White;
      transition: all 0.35s linear;
      &:hover {
        color: $Purple;
      }
      //--------------------Desktop----------------------------->
      @include for-desktop-only {
        display: none;
      }
    }
  }
  
  &__stacksIconsfatherBox{
    @extend .paddingBox;
    @include display-flexDirection(flex, row);
    @include alignItems-justifyContent(flex-start, space-between);
    @include width-height(100%, 0);
    //--------------------Desktop----------------------------->
    @include for-desktop-only{
      @include display-flexDirection(flex, column-reverse);
      @include alignItems-justifyContent(center, center);
      padding: 10%;
    }
  }

  &__stacksIconsBox{
    @include width-height(20%, 0);
    @include display-flexDirection(flex, column);
    //--------------------Desktop----------------------------->
    @include for-desktop-only{
      @include display-flexDirection(flex, row);
      @include alignItems-justifyContent(center, center);
      @include width-height(70%, 0);
      padding-top: 5%;
    }
    
  }
  &__TitleBox{
    @include display-flexDirection(flex, column);
    @include alignItems-justifyContent(center, flex-start);
    @include width-height(80%, 0);
    //--------------------Desktop----------------------------->
    @include for-desktop-only{
      @include display-flexDirection(flex, column);
      @include alignItems-justifyContent(center, flex-start);
      @include width-height(100%, 0);
    }
    &___firstTitle{
      @include fontSize-fontWeight(2.7rem, 700);
      color: $White;
      opacity: 0.9;
      text-align: end;
      padding-bottom: 2.5%;
      
      
      //--------------------Desktop----------------------------->
      @include for-desktop-only {
        @include fontSize-fontWeight(2.8rem, 0);
        text-align: center;

      }

      &:nth-child(2){
        @include fontSize-fontWeight(.938rem, 0);
        padding-bottom: 5%;
        color: $TitleBlack;
        align-self: flex-end;
        
        //--------------------Desktop----------------------------->
        @include for-desktop-only {
          @include fontSize-fontWeight(1.1rem, 0);
          text-align: center;
          padding-bottom: 2.5%;
          margin-top: 0%;
          padding-top: 0%;
          align-self: center;
        }
      }
    }

    &___secondTitle{
      @include fontSize-fontWeight(1.9rem, 600);
      color: $White;
      opacity: 0.9;
      line-height: 2.2rem;
      text-align: end;
      padding-bottom: 2.5%;
      //--------------------Desktop----------------------------->
      @include for-desktop-only {
        @include fontSize-fontWeight(1.8rem, 600);
        text-align: center;
        padding-bottom: 1.5%;
      }
      
      &:nth-of-type(2){
        @include fontSize-fontWeight(1rem, 0);
        padding-bottom: 5%;
        color: black;
        align-self: flex-end;
        //--------------------Desktop----------------------------->
        @include for-desktop-only {
          @include fontSize-fontWeight(1.1rem, 0);
          text-align: center;
          padding-bottom: 1.5%;
          align-self: center;
        }
      }
    }
  }
}


