@import '../../../scss/styles.scss';

.hexagon{
  width: 100px;
  height: 55px;
  background: #2c2c2c;
  position: absolute;
  top: 10rem;
  @include display-flexDirection(flex, column);
  @include alignItems-justifyContent(center, center);
  box-shadow: 1px 1px 20px -5px;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    top: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 25px solid #2c2c2c;
    
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 25px solid #2c2c2c; 
    
  }

  &:first-child{
    top: 1.5rem;
    cursor: pointer;
    //--------------------Desktop----------------------------->
    @include for-desktop-only{
      top: 1.6rem;
      left: 4rem;
    }

  }
  &:nth-child(2){
    top: 6.7rem;
    left: 3.2rem;
    //--------------------Desktop----------------------------->
    @include for-desktop-only {
      top: 7rem;
      left: 7.4rem;
    }
  }

  &:nth-child(3){
    top: 11.9rem;
    left: 0rem;
    //--------------------Desktop----------------------------->
    @include for-desktop-only {
      top: 7rem;
      left: 0.4rem;
    }
  }

  &:nth-child(4){
    background-color: #2c2c2c;
    top: 1rem;
    left: 3.3rem;
    transition: all 0.2s ease-in-out;
    //--------------------Desktop----------------------------->
    @include for-desktop-only {
      top: 12.6rem;
      left: 4rem;
    }
  }

  &__img{
    width: 20%;
  }
  
}