@import '/src/scss/styles.scss';

.button{
  @extend .button;
  align-self: flex-start;
  margin-bottom: $m10;
  margin-top: $m10;
  transition: all 350ms linear;
  //--------------------Desktop----------------------------->
  @include for-desktop-only {
    align-self: center;
    margin-bottom: 5%;
    margin-top: 5%;
  }

  &:hover &__link{
    color: $Purple;
  }

  &__link{
    color: $White;
    text-decoration: none;
    &:hover{
      color: $Purple;
      transition: all 350ms linear;
    }
  }
}