@import 'src/scss/styles.scss';

.workExperienceAccordionComponent{
  @include display-flexDirection(flex, column);
  @include alignItems-justifyContent(start, center);
  @include width-height(100%, 0);
  margin-bottom: 5%;
  box-shadow: 0 0.5rem 1rem rgba( 0 , 0, 0, .3);
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
    //--------------------Desktop----------------------------->
    @include for-desktop-only{
      margin-bottom: 1%;
    }

  &__title{
    @extend .titleh4;
    cursor: pointer;
    text-align: start;
    margin-bottom: 0;
    padding: 5%;
    border: 2px solid $Purple;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    //--------------------Desktop----------------------------->
    @include for-desktop-only{
      padding: 1.5%;
    }

  }

  &__collapseOpen{
    @include width-height(100%, 0);
    padding: 18px;
    outline: none;
    transition: 0.4s;

    &___company{
      @extend .titleh4;
      margin-bottom: 2.5%;
      text-align: start;
          //--------------------Desktop----------------------------->
      @include for-desktop-only{
        margin-bottom: 1.5%;
      }
    }

    &___activityResume{
      @extend .content;
      @include fontSize-fontWeight(0, 300);
    }
  }

  &__collapseClose{
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
  }
}