@import '../../variables/variables.scss' , '../../mixins/mixins.scss';


.button{
  @include width-height(50%, 3rem);
  background-color: $Purple;
  color: $White;
  @include fontSize-fontWeight(0, 700);
  transition: all 350ms linear;
  &:hover {
    background-color: transparent;
    border: 1px solid $Purple;
    color: $Purple;
    cursor: pointer;
  }
}