@import '../../scss/styles.scss';

.workExperience {
  padding: 5%;
  &__firstTitleComponent{
    @extend .titleh3;
    margin-bottom: 10%;
    //--------------------Desktop----------------------------->
    @include for-desktop-only{
      margin-bottom: 5%;
    }
  }

  &__fatherBoxWorkExperienceAccordionComponent{
    display: block;
    margin-bottom: 5%;
  }
}