@import '../../../scss/styles.scss';

.menuHamburguer {
  
  @include alignItems-justifyContent(center, center);
  @include display-flexDirection(flex, column);
  position: relative;
  @include width-height(9%, 6vh);
  //--------------------Desktop----------------------------->
  @include for-desktop-only {
    display: none;
  }

  &__span {
  @include width-height(100%, 3px);
  background: $White;
  border-radius: 30px;
  position: absolute;

  &:nth-child(1) {
    top: 8px;
  }

  &:nth-child(2) {
    top: 16px;
  }

  &:nth-child(3) {
    top: 24px;
  }
  }
}