@import 'src/scss/styles.scss';

.portfolios{
  @include alignItems-justifyContent(center, center);
  @include display-flexDirection(flex, column);
  @include width-height(100%, 0);
  background: linear-gradient($Black 17%, $White 15%); 
  padding: $p5;
  //--------------------Desktop----------------------------->
  @include for-desktop-only {
    background: linear-gradient($Black 42%, $White 19%);
    padding: $p5;
  }

  &__firstTitleComponent{
    @extend .titleh3;
    color: $White;
    padding-bottom: $p5;
    //--------------------Desktop----------------------------->
    @include for-desktop-only {
      @include fontSize-fontWeight(3.25rem, 0);
      padding-bottom: $p5;
    }

  }

  &__fatherBoxPortfoliosBoxComponent{
    @include display-flexDirection(flex, column);
    //--------------------Desktop----------------------------->
    @include for-desktop-only{
      @include display-flexDirection(flex, row);
      @include width-height(100%, 0);
      flex-wrap: wrap;
      position: relative;
    }
  }
}