@import 'src/scss/styles.scss';

.menu{
  @include width-height(100%, 100px);
  @include display-flexDirection(flex, row);
  @include alignItems-justifyContent(center, space-between);
  background-color: $Black;
  padding: $p5;
  top: -100px;
  //--------------------Desktop----------------------------->
  @include for-desktop-only {
    @include width-height(100%, 80px);
    @include display-flexDirection(flex, row);
    @include alignItems-justifyContent(center, space-between);
    background-color: transparent;
    padding: 0;
    position: fixed;
  }
  

  &__stickyMenu {
    background-color: $Black;
    position: fixed;
    transform: translateY(100px);
    transition: $easeAll3s;
    z-index: 9;
  }

  &__idiomButton{
    @extend .button;
    @include width-height(30%, 0);
    //--------------------Desktop----------------------------->
    @include for-desktop-only{
      @include width-height(15%, 0);
      margin-left: $m2;
    }
  }

  &__logo{
    @include fontSize-fontWeight(1.5rem, 700);
    color: $White;
    text-decoration: none;
    transition: $easeAll35s;
    &:hover {
      color: $Purple;
    }
    //--------------------Desktop----------------------------->
    @include for-desktop-only {
      display: none;
    }
  }

  .NavListOpen{
    @include width-height(100%, 210px);
    background-color: $Black;
    overflow-y: auto;
    position: absolute;
    right: 0;
    transition: $easeAll35s;
    top: 100px;
    visibility: visible;
    z-index: 1;
    //--------------------Desktop----------------------------->
    @include for-desktop-only {
      @include display-flexDirection(flex, row);
      @include width-height(100%, 0);
      position: absolute;
      visibility: visible;
    }
  
    &__Ul{
      @include display-flexDirection(flex, column);
      //--------------------Desktop----------------------------->
      @include for-desktop-only{
        @include alignItems-justifyContent(center, space-around);
        @include display-flexDirection(flex, row);
        @include width-height(100%, 0);
      }
    }
  }
  
  .NavListClose{
    @include width-height(100%, 0%);
    background-color: $Black;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 100px;
    visibility: hidden;
    transition: $easeAll35s;
    z-index: 1;
    //--------------------Desktop----------------------------->
    @include for-desktop-only {
      @include width-height(65%, 0);
      @include display-flexDirection(flex, row);
      @include alignItems-justifyContent(center, flex-end);
      background: transparent;
      overflow: hidden;
      padding: 2.5rem 5%;
      position: fixed;
      top: 0;
      visibility: visible;
    }
  
    .NavListOpen__Ul{
      @include display-flexDirection(flex, column);
      //--------------------Desktop----------------------------->
      @include for-desktop-only{ 
        @include alignItems-justifyContent(center, space-around);
        @include display-flexDirection(flex, row);
        @include width-height(100%, 0);
      } 
    }
  }
}