@import '/src/scss/styles.scss';

.footerSocialMBoxInBox{
  @include alignItems-justifyContent(center, center);
  @include display-flexDirection(flex, row);
  @include width-height(18%, 3rem);
  background-color: $Purple;
  border: 1px solid $Purple;
  margin-bottom: $m10;
  transition: all 350ms linear;
  &:hover{
    background-color: transparent;
    color: $Purple;
    cursor: pointer;
  }
  //--------------------Desktop----------------------------->
  @include for-desktop-only {
    @include width-height(18%, 0);
    margin-bottom: 0;
  }
  
  &:hover &__icon {
    color: $Purple;
  }

  &__icon {
    @include width-height(43%, 0);
    color: $White;
    margin-bottom: $m10;
    transition: all 350ms linear;
    //--------------------Desktop----------------------------->
    @include for-desktop-only {
      @include width-height(42%, 0);
    }
  }
}

