@import '../../scss/styles.scss';

.button{
  @extend .button;
  margin-top: 10%;
  margin-bottom: 10%;
  align-self: flex-start;
  //--------------------Desktop----------------------------->
  @include for-desktop-only {
    align-self: center;
    margin-top: 5%;
    margin-bottom: 5%;
  }
}