@import 'src/scss/styles.scss';

.menuHamburguer {
  @include alignItems-justifyContent(center, center);
  @include display-flexDirection(flex, column);
  @include width-height(13%, 40px);
  border: 1px solid $White;
  border-radius: 10%;
  position: relative;

  //--------------------Desktop----------------------------->
  @include for-desktop-only {
    display: none;
  }

    &__span {
    @include width-height(60%, 3px);
    background: $White;
    border-radius: 30px;
    position: absolute;

    &:nth-child(1) {
      top: 8px;
      
    }

    &:nth-child(2) {
      top: 16px;

    }

    &:nth-child(3) {
      top: 24px;

    }
  }
}