@import '/src/scss/styles.scss';

.contactBox{
  @include alignItems-justifyContent(start, center);
  @include display-flexDirection(flex, column);
  @include width-height(100%, 0);

    &__input {
      @include fontSize-fontWeight(1.1rem, 300);
      @include width-height(100%, 3rem);
      border: none;
      border-bottom: 1px solid $Purple;
      color: $Purple;
      font-family: 'Inconsolata', monospace;
      margin-bottom: $m5;
      outline: none;
      padding: $p2;
    }

    &__textArea {
      @include width-height(100%, 5rem);
      @include fontSize-fontWeight(1.1rem, 300);
      border: none;
      border-bottom: 1px solid $Purple;
      color: $Purple;
      font-family: 'Inconsolata', monospace;
      margin-bottom: $m5;
      padding: $p2;
      outline: none;
    }

    &__button {
      @include width-height(100%, 3rem);
      @include fontSize-fontWeight(0 , 700);
      background-color: $Purple;
      color: $White;
      margin-bottom: $m10;
      transition: all 350ms linear;
      &:hover {
        background-color: transparent;
        border: 1px solid $Purple;
        color: $Purple;
        cursor: pointer;
      }
    //--------------------Desktop----------------------------->
    @include for-desktop-only {
      @include width-height(25%, 0);
      margin-bottom: $m2;
    }
  }
}