@import '../../scss/styles.scss';

.footer{
  @include display-flexDirection(flex, column);
  @include alignItems-justifyContent(center, center);
  padding: 5%;
  padding-top: 5%;
  //--------------------Desktop----------------------------->
  @include for-desktop-only {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 0;
  }

  &__title {
    font-size: 3.125rem;
    font-weight: 700;
    margin-bottom: $m20;
    text-align: start;
    //--------------------Desktop----------------------------->
    @include for-desktop-only {
      margin-bottom: 5%;
    }
  }


  .footerSocialMBoxAndCopyRightBoxDesktopBox {
    @include display-flexDirection(flex, column);
    @include alignItems-justifyContent(center, center);
    padding-top: 5%;
    padding-bottom: 5%;
    //--------------------Desktop----------------------------->
    @include for-desktop-only {
      @include display-flexDirection(flex, row);
      @include alignItems-justifyContent(center, space-around);
      width: 100%;
      padding-top: 5%;
      padding-bottom: 5%;
    }
  }

  &__footerSocialMBox{
    @include display-flexDirection(flex, row);
    @include alignItems-justifyContent(center, space-between);
    width: 60%;
    //--------------------Desktop----------------------------->
    @include for-desktop-only {
      width: 28%;
    }
  }

  &__footerCopyRightBox{
    &__title{
      font-weight: 500;
      &___span{
        color: $Purple;
      }
    }

  }
}