@import 'src/scss/styles.scss';

.footer{
  @include display-flexDirection(flex, column);
  @include alignItems-justifyContent(center, center);
  padding: 5%;
  padding-top: 5%;
  //--------------------Desktop----------------------------->
  @include for-desktop-only {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 0;
  }

  &__title {
    @include fontSize-fontWeight(3.125rem, 700);
    margin-bottom: $m20;
    text-align: start;
    //--------------------Desktop----------------------------->
    @include for-desktop-only {
      margin-bottom: 5%;
    }
  }


  .footerSocialMBoxAndCopyRightBoxDesktopBox {
    @include display-flexDirection(flex, column);
    @include alignItems-justifyContent(center, center);
    padding-top: 5%;
    padding-bottom: 5%;
    //--------------------Desktop----------------------------->
    @include for-desktop-only {
      @include display-flexDirection(flex, row);
      @include alignItems-justifyContent(center, space-around);
      @include width-height(100%, 0);
      padding-top: 5%;
      padding-bottom: 5%;
    }
  }

  &__footerSocialMBox{
    @include display-flexDirection(flex, row);
    @include alignItems-justifyContent(center, space-between);
    @include width-height(75%, 0);
    //--------------------Desktop----------------------------->
    @include for-desktop-only {
      @include width-height(22%, 0);
    }
  }

  &__footerCopyRightBox{
    &__title{
      @include fontSize-fontWeight(0, 600);
      &___span{
        color: $Purple;
      }
    }

  }
}