@import '../../scss/styles.scss';

.aboutMe{
  padding: 5%;
  @include display-flexDirection(flex, column);
  @include alignItems-justifyContent(center, center);
  //--------------------Desktop----------------------------->
  @include for-desktop-only {
    @include display-flexDirection(flex, column);
    @include alignItems-justifyContent(flex-start, center);
    @include width-height(100%, 0);
  }

  &__TitleBoxAndImg{
    @include display-flexDirection(flex, column);
    @include alignItems-justifyContent(center, center);
    //--------------------Desktop----------------------------->
    @include for-desktop-only {
      @include display-flexDirection(flex, row);
      @include alignItems-justifyContent(center, center);
       @include width-height(100%, 0);
    }

    &___titleBox{
      //--------------------Desktop----------------------------->
      @include for-desktop-only{
        @include display-flexDirection(flex, column);
        @include alignItems-justifyContent(center, center);
        @include width-height(33%, 0);
        margin-right: 2.5%;
      }
      &___firstTitleComponent{
        @extend .titleh3;
        padding-bottom: 5%;    
      }
  
      &___secondTitle{
        @extend .titleh4;
        margin-bottom: 5%;
        //--------------------Desktop----------------------------->
        @include for-desktop-only {
          text-align: center;
          width: 52%;
          font-size: 1rem;
          margin-bottom: 2.5%;
        }
      }
  
      &___content{
        @extend .content;
        //--------------------Desktop----------------------------->
        @include for-desktop-only {
          text-align: center;
          margin-bottom: 2.5%;
        }
      }
    }


    &___img{  
      @include width-height(100%, 0);
      box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.5);
      //--------------------Desktop----------------------------->
      @include for-desktop-only {
      @include width-height(33%, 0);
      }
    }
  } 
}