@import '../../scss/styles.scss';

.aboutMe{
  background-color: rgba(255, 255, 255, 0.1);
  &__paddingBox{
    @extend .paddingBox;
    @include display-flexDirection(flex, column);
    @include alignItems-justifyContent(center, center);
    //--------------------Desktop----------------------------->
    @include for-desktop-only {
      @include display-flexDirection(flex, row);
      @include alignItems-justifyContent(flex-start, center);
      width: 100%;
      padding-left: 10%;
      padding-right: 10%;
    }
  }

  &__TitleBox{
    @include display-flexDirection(flex, column);
    @include alignItems-justifyContent(center, center);
    //--------------------Desktop----------------------------->
    @include for-desktop-only {
      @include display-flexDirection(flex, column);
      @include alignItems-justifyContent(center, center);
      width: 45%;
    }

    &___firstTitleComponent{
      @extend .titleh3;
      padding-top: 5%;
      padding-bottom: 5%;    
      //--------------------Desktop----------------------------->
      @include for-desktop-only {
        width: 60%;
        padding-bottom: 2.5%;
      }

    }

    &___secondTitle{
      @extend .titleh4;
    }

    &___content{
      @extend .content;
    }
  }
  
  &__img{
    width: 100%;
    box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.5);
    //--------------------Desktop----------------------------->
    @include for-desktop-only {
      width: 38%;

    }
  }
}