@import 'src/scss/styles.scss';

.aboutMe{
  padding: $p5;
  @include alignItems-justifyContent(center, center);
  @include display-flexDirection(flex, column);
  //--------------------Desktop----------------------------->
  @include for-desktop-only {
    @include alignItems-justifyContent(flex-start, center);
    @include display-flexDirection(flex, column);
    @include width-height(100%, 0);
  }

  &__TitleBoxAndImg{
    @include alignItems-justifyContent(center, center);
    @include display-flexDirection(flex, column);
    //--------------------Desktop----------------------------->
    @include for-desktop-only {
      @include alignItems-justifyContent(center, center);
      @include display-flexDirection(flex, row);
      @include width-height(100%, 0);
    }

    &___titleBox{
      //--------------------Desktop----------------------------->
      @include for-desktop-only{
        @include alignItems-justifyContent(center, center);
        @include display-flexDirection(flex, column);
        @include width-height(33%, 0);
        margin-right: $m5;
      }
      &___firstTitleComponent{
        @extend .titleh3;
        padding-bottom: $p5;    
      }
  
      &___secondTitle{
        @extend .titleh4;
        margin-bottom: $m5;
        //--------------------Desktop----------------------------->
        @include for-desktop-only {
          @include width-height(52%, 0);
          @include fontSize-fontWeight(1rem, 300);
          margin-bottom: $m2;
          text-align: center;
        }
      }
  
      &___content{
        @extend .content;
        //--------------------Desktop----------------------------->
        @include for-desktop-only {
          margin-bottom: $m2;
          text-align: center;
        }
      }
    }


    &___img{  
      @include width-height(100%, 0);
      box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.5);
      //--------------------Desktop----------------------------->
      @include for-desktop-only {
      @include width-height(33%, 0);
      }
    }
  } 
}