//--------------------Cores----------------------------->
$Black: #2c2c2c;
$TitleBlack: 	#000000;
$White: #ffffff;
$Purple: #8257e6;
$OpacWhite : rgba(255,250,250, .5);

//--------------------Cores----------------------------->

//--------------------Padding----------------------------->

$p5: 5%;
$p2 : 2.5%;
$p10 : 10%;
$pl5: 5% 5%;
$pl2: 2.5% 2.5%;

//--------------------Padding----------------------------->

//--------------------MarginBottom----------------------------->
$m20: 20%;
$m15: 15%;
$m10: 10%;
$m5: 5%;
$m2: 2.5%;
$m0: 0;

//--------------------MarginBottom----------------------------->

//--------------------Transision----------------------------->

$easeAll3s : all 0.3s ease-in-out;
$easeAll35s : all 0.35s linear;

//--------------------Transision----------------------------->

