//--------------------Cores----------------------------->
$Black: #2c2c2c;
$Title: #001d38;
$White: #ffffff;
$Purple: #8a2be2;
$Pink: #d465ef;
//--------------------Cores----------------------------->

//--------------------Padding----------------------------->

$pl5: 5% 5%;
$pl2: 2.5% 2.5%;
//--------------------Padding----------------------------->

//--------------------MarginBottom----------------------------->
$m20: 20%;
$m15: 15%;
$m10: 10%;
$m5: 5%;
$m2: 2.5%;
$m0: 0;
//--------------------MarginBottom----------------------------->

$React: #61dafb;
$Html: #e34c26;
$Css: #264de4;
$Js: #f0db4f;
$Git: #f1502f;
$Sass: #cd6799;
$Typescript: #007acc;
$Styled-Components: #b9679e;
$EsLint: #6464e2;
