//--------------------Cores----------------------------->
$Black: #2c2c2c;
$Title: #001d38;
$White: #ffffff;
$Purple: #6060a0;
$Pink: #F3B7C3;

//--------------------Cores----------------------------->

//--------------------Padding----------------------------->

$pl5: 5% 5%;
$pl2: 2.5% 2.5%;
//--------------------Padding----------------------------->

//--------------------MarginBottom----------------------------->
$m20: 20%;
$m15: 15%;
$m10: 10%;
$m5: 5%;
$m2: 2.5%;
$m0: 0;
//--------------------MarginBottom----------------------------->

