@import 'src/scss/styles.scss';

.listItem{
  margin: 4.5%;
  //--------------------Desktop----------------------------->
  @include for-desktop-only {
    margin: 0;
  }
  
  &___link{
  @include fontSize-fontWeight(0.938rem, 550);
  color: $White;
  text-decoration: none;
  transition: $easeAll35s;
  &:hover {
    color: $Purple;
    cursor: pointer;
  }
  //--------------------Desktop----------------------------->
  @include for-desktop-only {
    @include fontSize-fontWeight(1.1rem, 0);
      &:hover {
        color: $Purple;
        cursor: pointer;
      }
    }
  }
}