@import '../../../scss/styles.scss';

.stackBoxComponent{
  width: 80%;
  height: 3.5rem;
  @include display-flexDirection(flex, row);
  @include alignItems-justifyContent(center, center);
  //--------------------Desktop----------------------------->
  @include for-desktop-only{
    width: 22%;
    flex-wrap: wrap;
    height: 6.5rem;
  }
  &__img{
    width: 75%;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    filter: grayscale(100);
    &:hover{
      filter: none;
      transform: scale(1.1);
    }
    //--------------------Desktop----------------------------->
    @include for-desktop-only{
      width: 50%;
    }
  }
}