@import '../../../../scss/styles.scss';


.listItem{
  margin: 4.5%;
  //--------------------Desktop----------------------------->
  @include for-desktop-only {
    margin: 0;
  }
  
  &___link{
  @include fontSize-fontWeight(0.938rem, 500);
  text-decoration: none;
  color: $White;
  transition: all 0.35s linear;
  &:hover {
    cursor: pointer;
    color: $Purple;
  }
  //--------------------Desktop----------------------------->
  @include for-desktop-only {
    @include fontSize-fontWeight(1.1rem, 500);
    &:hover {
      cursor: pointer;
      color: $Purple;
    }
  }
  }
}